# Operating System Files
Thumbs.db
ehthumbs.db
desktop.ini
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Editor & IDE Directories
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs & Temporary Files
*.log
*.tmp
*.bak
